@charset "UTF-8";


:root {
    --corFundo: #E6FFE6;
    --corDetalhes: #008000;
    --corBranco: #FFFFFF;
    --corTextos: #8BC02B;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: Inter-bold;
    src: url(../fonts/Inter/static/Inter-Bold.ttf);
}

@keyframes notificar {
    from{
        opacity: 0;
        translate: 10000px;
    }
    to{
        opacity: 1;
        translate: 0;
    }
}

@keyframes sumir{
    from{
        opacity: 1;
        translate: 0;
    }
    to{
        opacity: 0;
        translate: 1000px;
    }
}

body {
    background-color: var(--corFundo);
    padding: 20px;
}

h1{
    color: var(--corDetalhes);
    font-family: Inter-bold;
    text-align: center;
    font-size: 30px;
}

main{
    max-width: 800px;
    background-color: var(--corBranco);
    margin: auto;
    border-radius: 20px;
    padding: 5px 10px 10px 30px;
    border: 1px solid var(--corDetalhes);
}

.logo {
    display: block;
    text-align: center;
}

#logo{
    height: 150px;
}

.inputs{
    display: block;
    text-align: center;
}

input {
    outline: none;
    border-style: none;
    box-shadow: -1.5px 1.5px 0px var(--corDetalhes);
    margin-top: 20px;
}

#email {
    padding: 5px;
    width: 450px;
}

#senha {
    padding: 5px;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.botao {
    margin: 20px;
    text-align: center;
}

button {
    background-color: var(--corDetalhes);
    border-style: none;
    width: 180px;
    height: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

#entrar {
    color: var(--corBranco);
    text-decoration: none;
    font-family: Inter-bold;
    padding: 5px 65px 5px 65px;
    border-radius: 20px;
}

button:hover {
    background-color: #008000cc;
    transition: 1s;
}

.logo {
    display: block;
    text-align: center;
}

#logo{
    height: 90px;
}

.inputs{
    display: block;
    text-align: center;
}

input {
    outline: none;
    border-style: none;
    box-shadow: -1.5px 1.5px 0px var(--corDetalhes);
    margin-top: 20px;
}

#nome {
    padding: 5px;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#dataNasc {
    margin: 0px;
}

#usuario {
    padding: 5px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 0px;
}

#email {
    padding: 5px;
    width: 400px;
}

#senha {
    padding: 5px;
    width: 220px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#biografia {
    text-align: left;
    margin-left: 190px;
}

#bio {
    padding: 10px;
    width: 450px;
    height: 50px;
    margin-top: 0px;
    border-radius: 0px 0px 0px 20px;
}

.botao {
    margin: 20px;
    text-align: center;
}

button {
    background-color: var(--corDetalhes);
    border-style: none;
    width: 180px;
    height: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

button {
    color: var(--corBranco);
    text-decoration: none;
    font-family: Inter-bold;
    padding: 5px 50px 5px 50px;
    border-radius: 20px;
    transition: 1s;
}

button:hover {
    background-color: #008000cc;
    transform: scale(1.2);
    box-shadow: 5px 5px 10px #999999;
}

.login {
    margin-bottom: 40px;
}

p {
    text-align: center;
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 12px;
}

#login {
    text-decoration: none;
    color: var(--corDetalhes);
}

#sucesso{
    border: 2px solid green;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #FFFFFF;
    display: none;
    align-items: center;
    margin-top: 100px;
    box-shadow: 10px 10px 10px #999999;
}
#sucesso i{
    color: #008000;
    font-size: 30px;
    margin-right: 5px;
}